body{
    display: flex;
    justify-content: center;
    padding: 10%;
}
.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  .login-container h2 {
    text-align: center;
    color: #f08080;
    margin-bottom: 1.5rem;
  }
  .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  .input-field:focus {
    border-color: #f08080;
    outline: none;
  }
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #f08080;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login-btn:hover {
    background-color: #e07171;
  }