# Dependency directories
node_modules/
**/node_modules/

# Local env files
.env
.env.local
.env.*.local
*.env

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
Desktop.ini
